.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 70px;
    width: 200px;
}

.logo {
    height: 64px;
    width: 46px;
    margin-right: 5px;
}

.logo-text {
    font-family: var(--font);
    color: var(--font-primary-color);

    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

