.content-section {
    background-color: var(--bg-primary-color);

    display: flex;
    height: 400px;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-section.reversed {
    flex-direction: row-reverse; 
}

.text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin-right: 20px;
}

.content-section.reversed .text-section {
    margin-right: 0;
    margin-left: 20px;
}

.title {
    font-family: var(--font);
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.subtitle {
    font-family: var(--font);
    font-size: 1.2rem;
    color: #639DF4;
    margin-top: 0;
}

.description {
    font-family: var(--font);
    font-size: 1rem;
    color: #fff;
    margin-top: 0;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image {
    width: 100vh;
    height: 350px;
    border-radius: 8px;
}
